<nav class="navbar navbar-expand-md nav-light" style="background: rgb(41 132 245 / 80%)">
  <div class="container-fluid">
    <a class="navbar-brand me-lg-5" href="/">
      <span class="text-center fw-semibold">Employee Review System</span>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if(locals.user) {%>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5">
        <li class="nav-item ms-lg-4">
          <a class="btn btn-secondary mx-2 l fw-semibold" href="/"
            ></i> Home</a
          >
        </li>
        <% if(locals.user.role === 'admin') {%>
        <li class="nav-item ms-lg-4">
          <a
            class="btn btn-secondary mx-2 l fw-semibold"
            href="/add-employee"
            ></i> Add New Employee</a
          >
        </li>
        <%} %>
      </ul>

      <form class="d-flex justify-content-end right-0">
        <div class="btn btn-secondary mx-2 l fw-semibold">
           Hello <%= user.username %>
        </div>
        <a
          class="btn btn-secondary mx-2 l fw-semibold"
          href="/sign-out"
        >
          Sign Out</a
        >
      </form>
    </div>
    <%} %>
  </div>
</nav>
